<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller=LunchCheckController>
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="name" style="{{styled}}"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="calculate()">Check If Too Much</button>
             <p style="font-size: 0.9em; color: #999999; text-align:right;">
               Empty or items containing only space not considered e.g. 1,2,,3,4 or 1,2, ,3,4 will be 4 items only.
         </div>

         <div class="form-group message">
           <p id="checkOutput"> {{output}}
           </p>
         </div>
   </div>

</body>
</html>
